{
  sourceMap: false,
  presets: [
    'env'
  ],
  plugins: [
    'transform-class-properties',
    'transform-decorators-legacy',
    'transform-object-rest-spread',
    'transform-export-extensions',
    'transform-runtime'
  ]
}